<html>

<head>
    <title>Update user</title>
</head>

<body>
    <form action="/user/updateUser/{{ id }}" method="post">
        <label>First name</label><br />
        <input type="text" name="first_name" value="{{ firstName }}"><br />
        <label>Last name</label><br />
        <input type="text" name="last_name" value="{{ lastName }}"><br />
        <label>Date of birth</label><br />
        <input type="date" name="dob" value="{{ dob }}">
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>
</body>

</html>
